*.py[cod]
.gitignore~
.tox/
.cache/
.coverage*
!.coveragerc
/htmlcov/
*.py,cover
.idea/
.vscode/
venv/
.pytest_cache/
/coverage.xml
.eggs/
MANIFEST.in~
codebin/
/tmp/
.zip
/examples/db/
/var/
/examples/tmp/
/examples/logs/
/builddocs/
/builddocs.zip
/build/
/dist/
matyan.log*
db.sqlite3
sample_db.sqlite
test_database.db
local_settings.py
/prof/
*.cast
.ipynb_checkpoints/
.scannerwork/
*db.sqlite3*
.mypy_cache/
sample_project.egg-info/
compile_python_requirements_action.egg-info/
