name: Test Makefile for requirements-in Example

on:
  push:
    paths:
      - 'examples/Makefile'
      - 'examples/requirements-in/requirements/*'
      - '.github/workflows/test-requirements-in-makefile.yml'
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [
          ubuntu-latest,
          windows-latest,
          macos-latest,
        ]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Test Makefile
        shell: bash
        run: |
          cd examples/requirements-in/
          make install
          pip list
